<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src = "https://cdn.tgdd.vn/Products/Images/42/303163/xiaomi-redmi-12c-blue-thumb-600x600.jpg" alt="..." class = "img-responsive">
            <div class = "caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class = "description ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venen
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Giá: 12.000.000đ</div>
                    <div> 
                    <a href="#" class="btn btn-success pull-right">Button</a>
                    </div>
               </div>
            </div>
        </div>
    </div>
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src = "https://cdn.tgdd.vn/Products/Images/42/303163/xiaomi-redmi-12c-blue-thumb-600x600.jpg" alt="..." class = "img-responsive">
            <div class = "caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class = "description ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venen
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Giá: 12.000.000đ</div>
                    <div> 
                    <a href="#" class="btn btn-success pull-right">Button</a>
                    </div>
               </div>
            </div>
        </div>
    </div> <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src = "https://cdn.tgdd.vn/Products/Images/42/303163/xiaomi-redmi-12c-blue-thumb-600x600.jpg" alt="..." class = "img-responsive">
            <div class = "caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class = "description ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venen
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Giá: 12.000.000đ</div>
                    <div> 
                    <a href="#" class="btn btn-success pull-right">Button</a>
                    </div>
               </div>
            </div>
        </div>
    </div> <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src = "https://cdn.tgdd.vn/Products/Images/42/303163/xiaomi-redmi-12c-blue-thumb-600x600.jpg" alt="..." class = "img-responsive">
            <div class = "caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class = "description ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venen
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Giá: 12.000.000đ</div>
                    <div> 
                    <a href="#" class="btn btn-success pull-right">Button</a>
                    </div>
               </div>
            </div>
        </div>
    </div> <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src = "https://cdn.tgdd.vn/Products/Images/42/303163/xiaomi-redmi-12c-blue-thumb-600x600.jpg" alt="..." class = "img-responsive">
            <div class = "caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class = "description ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venen
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Giá: 12.000.000đ</div>
                    <div> 
                    <a href="#" class="btn btn-success pull-right">Button</a>
                    </div>
               </div>
            </div>
        </div>
    </div> <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src = "https://cdn.tgdd.vn/Products/Images/42/303163/xiaomi-redmi-12c-blue-thumb-600x600.jpg" alt="..." class = "img-responsive">
            <div class = "caption">
                <h3>Thumbnail label</h3>
                <p>
                    <div class = "description ">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venen
                    </div>
                </p>
                <div class="clearfix">
                    <div class="price pull-left">Giá: 12.000.000đ</div>
                    <div> 
                    <a href="#" class="btn btn-success pull-right">Button</a>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>